/* @import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap"); */

/* Import Tailwind (v4 only needs this) */
@import "tailwindcss";


/* Base styles */
@layer base {
  body {
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%); /* Grey 200 from style guide */
    color: hsl(183, 100%, 15%); /* Green 900 */
  }
}

/* You can still define custom utilities if needed */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

label, input,
button {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 24px;
}

p{
  font-family: 'Space Mono', monospace;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}